.TodoApp {
  font-family: 'Lato';
}

.TodoApp .TodoApp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TodoApp .TodoApp-item {
  display: flex;
  margin: 0.5rem;
  cursor: pointer;
}

.TodoApp .TodoApp-item label, input {
  margin: 0 1rem 0 0;
  cursor: pointer;
}

.TodoApp .TodoApp-item--disabled {
  font-style: italic;
  text-decoration: line-through; 
  color: #bebebe;
}
